.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    font-size: 32px;
    letter-spacing: 5px;
    top:0;
    .navbar-nav .nav-link {
        flex: 1;
        text-align: center;
        padding: 0 40px;
    }
    .nav-link{
        color: #FFFFFF;
    }
    .nav-link.active{
        color: #3E9F1C;
        background-color: rgba(128, 128, 128, 0.4);
    }
    .navbar-nav {
        padding: 10px;
        justify-content: space-around;
    }
    .nav-link.border-right{
        border-right: 2px solid white;
    }
}