body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/assets/backgrounds/home_background.png);
  background-size: cover;
  background-repeat: repeat;
  font-family: "Oswald";
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: transparent !important;
  font-size: 2vw;
  letter-spacing: 0.3125rem;
  top: 0;
  z-index: 1000;
}
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-toggler {
  position: relative;
  padding: 0.2rem 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .navbar-collapse {
  position: relative;
}
.navbar .navbar-nav .nav-link {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-link {
  color: #FFFFFF;
  padding: 0 3rem;
  font-size: 1.8vw;
}
.navbar .nav-link.active {
  color: #3E9F1C;
  background-color: rgba(128, 128, 128, 0.4);
}
.navbar .navbar-nav {
  padding: 0.625rem;
  justify-content: space-between;
}
.navbar .nav-link.border-right {
  border-right: 0.125rem solid white;
}
.navbar .nav-link.left {
  display: flex;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
  transition: color 0.5s ease-in-out;
}
.navbar .nav-link.left::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  z-index: -1;
}
.navbar .nav-link.left:hover {
  color: #3E9F1C;
}
.navbar .nav-link.left:hover::before {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  right: 0;
}
.navbar .nav-link.inner-left {
  transition: color 0.5s ease-in-out;
}
.navbar .nav-link.inner-left:hover {
  color: #e01212;
}
.navbar .nav-link.middle {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 0 3rem;
}
.navbar .nav-link.middle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0);
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out, background-color 0.5s ease-in-out;
  z-index: -1;
}
.navbar .nav-link.middle:hover::before {
  width: 100%;
  left: 0;
  background-color: rgba(128, 128, 128, 0.4);
}
.navbar .nav-link.right {
  display: flex;
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease-in-out;
}
.navbar .nav-link.right:hover {
  color: rgba(230, 178, 11, 0.8705882353);
}
.navbar .nav-link.right::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  z-index: -1;
}
.navbar .nav-link.right:hover::before {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4);
}
.navbar .nav-link.right:hover::before {
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.navbar .nav-link.inner-right {
  transition: color 0.5s ease-in-out;
}
.navbar .nav-link.inner-right:hover {
  color: #0011ff;
}

.content-outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 70vw;
  height: auto;
  background: rgba(136, 135, 135, 0.4);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
  border-radius: 1.5625rem;
  padding: 0.9375rem;
}
.content-outer-container .content-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background: rgba(15, 15, 15, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 1.5625rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
}
.content-outer-container .search-bar {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: end;
  font-size: 0.9vw;
  width: 100%;
  text-align: center;
  transform: translateY(0rem);
}
.content-outer-container .search-bar input {
  width: 15%;
  border-radius: 8px;
  margin-right: 2%;
  outline: none;
  border: 4px solid #ccc;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(0, 0, 0, 0.8);
}
.content-outer-container .search-bar input:focus {
  outline: none;
  border-color: #7D7D7D;
}
.content-outer-container .title-container {
  font-size: 2vw;
  font-weight: 350;
  letter-spacing: 0.03125rem;
  border-bottom: #FFFFFF solid 0.0625rem;
  width: 35%;
  padding-left: 5%;
  margin-bottom: 5%;
}
.content-outer-container .text-container {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 1.3vw;
  font-weight: 50;
  letter-spacing: 0.25rem;
  padding: 3%;
  width: 85%;
}
.content-outer-container .picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-radius: 25px;
  overflow: hidden;
}
.content-outer-container .picture-container img {
  width: 100%;
  position: relative;
  height: auto;
  min-width: 100%; /* Ensures the image doesn't shrink smaller than the container */
  min-height: 100%; /* Ensures the image covers the container */
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

@media (max-width: 1024px) {
  .content-outer-container {
    width: 90vw;
    height: 60vh;
  }
  .content-outer-container .picture-container img {
    min-width: 80%; /* Ensures the image doesn't shrink smaller than the container */
    min-height: 100%; /* Ensures the image covers the container */
  }
  .content-outer-container .text-container {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 15%;
  }
  .navbar .navbar-collapse {
    max-width: 40%;
    margin-right: auto;
    margin-left: 0;
  }
  .navbar .nav-link.border-right {
    border-right: 0;
  }
  .content-outer-container {
    margin-top: 15%;
    width: 90vw;
    height: 80vh;
  }
  .content-outer-container .content-inner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content-outer-container .content-inner-container .title-container {
    text-align: center;
    padding-left: 0%;
    width: 100%;
    font-size: 3vw;
  }
  .content-outer-container .content-inner-container .picture-container {
    margin: 2%;
    padding: 0%;
    width: 50%;
    height: 80%;
  }
  .content-outer-container .content-inner-container .text-container {
    font-size: 2vw;
    font-weight: 350;
  }
}
@media (max-width: 425px) {
  .navbar .navbar-collapse {
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0.4rem;
    font-size: 3vw;
  }
  .content-outer-container .content-inner-container .picture-container {
    padding: 2%;
    width: 80%;
  }
  .content-outer-container .content-inner-container .title-container {
    text-align: center;
    padding-left: 0%;
    width: 100%;
    font-size: 5vw;
  }
  .content-outer-container .content-inner-container .text-container {
    font-size: 3vw;
    font-weight: 350;
  }
}/*# sourceMappingURL=global.css.map */