body {
    background-image: url(/assets/backgrounds/project_background.jpg);
}

.navbar{
    .nav-link.active{
        color: #e01212;
        background-color: rgba(128, 128, 128, 0.4);
    }
}


.content-outer-container {

    .content-inner-container {
        display: flex;
        flex-direction: column;

        .search-bar{
            border-radius: 25px;
        }
    
        .title-container {
            display: flex;
            font-size: 2vw;
            font-weight: 400;
            letter-spacing: 2px;
            border-bottom: #FFFFFF solid 1px;
            width: 23%;
            padding-top: 1%;
            padding-left: 3%;
            margin: 0.2%;
            margin-left: 5%;
            color: #FFFFFF;
        }

        .project-card-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 520px;
            margin-bottom: 0.1%;
            overflow-y: auto;
            scrollbar-width:thin;
            scrollbar-color: #353434 #c0bfbf;
            direction: ltr;

            .project-card-container::-webkit-scrollbar {
                width: 10px;    
            }

            .project-card-container::-webkit-scrollbar-thumb {
                background-color: #7D7D7D;
                border-radius: 1rem;
                height: 50px;    
            }
            
            .project-card-container::-webkit-scrollbar-track {
                background-color: #918f8f;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .project-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                width: 80%;
                height: auto;
                background-color: #080808;
                border-radius: 25px;
                padding: 15px;
                margin: 2%;
                color: #FFFFFF;
                font-weight: 100;
                font-size: 1vw;
                letter-spacing: 2px;
                transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    background-color:#d6d5d5;
                    color: #080808;
                    transform: scale(1.03);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
                }

                .project-header {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    font-size: 1.5vw;
                    font-weight: 300;
                    letter-spacing: 3px;
                }

                .project-picture {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    width: 100%;
                    margin-top: 2%;
                    margin-bottom: 2%;

                    .img {
                        height: 100%;
                        width: 80%; 
                        object-fit: cover;
                    }
                }
                
                .project-text {
                    margin: 20px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .content-outer-container{
        .content-inner-container{
            .title-container{
                font-size: 3vw;
                padding-left: 0%;
                width: 30%;
                align-items: center;
                justify-content: center;
            }
            .project-card-container{
                flex-direction: column;
                width: 100%;
                
                .project-card{
                    font-size: 2vw;
                    .project-header{
                        font-size:3vw;
                    }
                }
                
            }
        }
    }
}

@media (max-width: 425px) {
    .content-outer-container{
        .content-inner-container{
            .title-container{
                padding-left: 0%;
                width: 30%;
                font-size: 5vw;
            }
            .project-card-container{
                flex-direction: column;
                width: 110%;
                .project-card{
                    font-size: 4vw;
                    .project-header{
                        font-size:4vw;
                    }
                }
            }
        }
    }
}