body {
    background-image: url(/assets/backgrounds/project_background.jpg);
}

.navbar{
    .nav-link.active{
        color: #e01212;
        background-color: rgba(128, 128, 128, 0.4);
    }
}


.content-outer-container {

    .content-inner-container {
        display: flex;
        flex-direction: column;
    
        .title-container {
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 2px;
            border-bottom: #FFFFFF solid 1px;
            width: 20%;
            padding-top: 1%;
            padding-left: 4%;
            margin: 0.2%;
            margin-left: 5%;
            color: #FFFFFF;
        }

        .project-card-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-bottom: 0.1%;

            .project-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                width: 80%;
                height: auto;
                background-color: #080808;
                border-radius: 25px;
                padding: 15px;
                margin: 2%;
                color: #FFFFFF;
                font-weight: 100;
                font-size: 15px;
                letter-spacing: 2px;

                .project-header {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    font-size: 25px;
                    font-weight: 300;
                    letter-spacing: 3px;
                }

                .project-picture {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    width: 100%;
                    margin-top: 2%;
                    margin-bottom: 2%;

                    .img {
                        height: 100%;
                        width: 80%; 
                        object-fit: cover;
                    }
                }
                
                .project-text {
                    margin: 20px;
                }
            }
        }
    }
}