body {
  background-image: url(/assets/backgrounds/project_background.jpg);
}

.navbar .nav-link.active {
  color: #e01212;
  background-color: rgba(128, 128, 128, 0.4);
}

.nav-login-button {
  position: relative;
  padding: 0rem 3rem;
  font-size: 2vw;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-login-button::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  z-index: -1;
}

.nav-login-button:hover {
  color: #0ca3a8;
}

.nav-login-button:hover::before {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  right: 0;
}

#login-popup {
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

#login-popup.active {
  opacity: 1;
  visibility: visible;
}

.divider {
  width: 100%;
  margin-top: 0.1rem;
  border-bottom: 1.5px solid;
}

.popup-content {
  width: 300px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.login-btn {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: none;
  width: 80%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  align-items: center;
}

.bottom-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.login-btn.google:hover {
  background-color: #357ae8;
  transform: scale(1.05);
}

.login-btn.email:hover {
  background-color: #333;
  transform: scale(1.05);
}

.login-btn.google {
  background-color: #4285F4;
  color: #fff;
}

.login-btn.email {
  background-color: #555;
  color: #fff;
}

.create-account {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding: 0.2rem 0.8rem;
  background-color: #4285F4;
  color: #fff;
  width: 70%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-button {
  flex-wrap: wrap;
  border-radius: 5px;
  border: none;
  padding: 0.2rem 0.8rem;
  background-color: #555;
  color: #fff;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.create-account:hover {
  background-color: #357ae8;
  transform: scale(1.05);
}

.close-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

#login-email-form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.login-button {
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.login-form-button {
  border-radius: 5px;
  border: rgb(82, 82, 82) solid 0.5px;
  text-decoration: none;
  background-color: #e4e4e4;
}

#create-account-form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

.create-account-form-button {
  align-content: center;
  justify-content: center;
  background-color: #4285F4;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.create-account-form-button:hover {
  background-color: #357ae8;
  transform: scale(1.05);
}

.close-button-create-account {
  align-content: center;
  justify-content: center;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-button-create-account:hover {
  background-color: #333;
  transform: scale(1.05);
}

.login-Instead-btn {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  border: none;
  width: 80%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  align-items: center;
  background-color: #4285F4;
  color: #ffffff;
}

.login-Instead-btn:hover {
  background-color: #357ae8;
  transform: scale(1.05);
}

.signed-in {
  color: rgb(17, 167, 37);
  font-size: 1.5vw;
}

.signed-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signed-in-container .close-button {
  padding: 0.3rem 1.3rem;
  width: 100%;
}

.account-created {
  color: rgb(17, 167, 37);
  font-size: 1.5vw;
}

.account-created-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.account-created-container .close-button {
  padding: 0.3rem 1.3rem;
  width: 100%;
}

.comment-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0%; /* Fixed margin syntax */
}

.comments-list {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  color: #c0bfbf;
  justify-content: flex-start;
  height: 350px; /* Set a fixed height for the container */
  width: 75%;
  overflow-y: auto; /* This will add the scrollbar when content overflows */
  padding-right: 10px; /* Optional: space for scrollbar */
}

.comment-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-buttons {
  border-radius: 5px;
  font-size: 0.7vw;
  padding: 0.3rem 0.3rem;
  background-color: #7D7D7D;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0.4rem;
}

.comments {
  display: flex;
  flex-direction: row; /* Each comment and its buttons will be in a row layout */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(119, 119, 119, 0.747);
  padding: 1rem;
  width: 100%; /* Ensure it takes the full width of the container */
}

.comment-author {
  font-size: 1vw;
  margin-right: 1rem; /* Space between the name and the comment text */
  flex: 1; /* Allow the author name to take up available space */
}

.comment-text {
  font-size: 1vw;
  color: #c0bfbf;
  flex: 2; /* Allow the text to take more space */
}

.content-outer-container {
  height: 80vh;
  margin-top: 5%;
}
.content-outer-container .content-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content-outer-container .content-inner-container .comment-section {
  width: 100%;
  padding: 3rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
.content-outer-container .content-inner-container .comment-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #d6d5d5;
  font-size: 1vw;
}
.content-outer-container .content-inner-container .comment-header {
  font-size: 1.5vw;
  color: #d6d5d5;
}
.content-outer-container .content-inner-container .comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 1rem;
}
.content-outer-container .content-inner-container .comment-form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  font-size: 1rem;
  outline: none;
  resize: none;
}
.content-outer-container .content-inner-container .submit-comment {
  border-radius: 8px;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #dfdbdb;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
}
.content-outer-container .content-inner-container .submit-comment:hover {
  background-color: #7a7979;
  transform: scale(1.05);
}
.content-outer-container .content-inner-container .divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;
  margin-left: -25%;
  margin-right: -25%;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #c0bfbf;
}
.content-outer-container .content-inner-container .search-bar {
  border-radius: 25px;
}
.content-outer-container .content-inner-container .title-container {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: 2px;
  border-bottom: #FFFFFF solid 1px;
  width: 23%;
  padding-top: 1%;
  padding-left: 0%;
  margin: 0.2%;
  color: #FFFFFF;
}
.content-outer-container .content-inner-container .project-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 520px;
  margin-bottom: 0.1%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #353434 #c0bfbf;
  direction: ltr;
}
.content-outer-container .content-inner-container .project-card-container .project-card-container::-webkit-scrollbar {
  width: 10px;
}
.content-outer-container .content-inner-container .project-card-container .project-card-container::-webkit-scrollbar-thumb {
  background-color: #7D7D7D;
  border-radius: 1rem;
  height: 50px;
}
.content-outer-container .content-inner-container .project-card-container .project-card-container::-webkit-scrollbar-track {
  background-color: #918f8f;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-outer-container .content-inner-container .project-card-container .project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: auto;
  background-color: #080808;
  border-radius: 25px;
  padding: 15px;
  margin: 2%;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1vw;
  letter-spacing: 2px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.content-outer-container .content-inner-container .project-card-container .project-card:hover {
  background-color: #d6d5d5;
  color: #080808;
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.content-outer-container .content-inner-container .project-card-container .project-card .project-header {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 3px;
}
.content-outer-container .content-inner-container .project-card-container .project-card .project-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.content-outer-container .content-inner-container .project-card-container .project-card .project-picture .img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-outer-container .content-inner-container .project-card-container .project-card .project-text {
  margin: 20px;
}

@media (max-width: 768px) {
  .content-outer-container .content-inner-container .title-container {
    font-size: 3vw;
    padding-left: 0%;
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .content-outer-container .content-inner-container .project-card-container {
    flex-direction: column;
    width: 100%;
    padding-top: 60%;
  }
  .content-outer-container .content-inner-container .project-card-container .project-card {
    font-size: 2vw;
  }
  .content-outer-container .content-inner-container .project-card-container .project-card .project-header {
    font-size: 3vw;
  }
}
@media (max-width: 425px) {
  .content-outer-container .content-inner-container .title-container {
    padding-left: 0%;
    width: 30%;
    font-size: 5vw;
  }
  .content-outer-container .content-inner-container .project-card-container {
    flex-direction: column;
    width: 110%;
    padding-top: 100%;
  }
  .content-outer-container .content-inner-container .project-card-container .project-card {
    font-size: 4vw;
  }
  .content-outer-container .content-inner-container .project-card-container .project-card .project-header {
    font-size: 4vw;
  }
}/*# sourceMappingURL=projects.css.map */