body {
    background-image: url(/assets/backgrounds/contact_background.jpg);
}

.navbar{
    .nav-link.active{
        color: #e6b20bde;
        background-color: rgba(128, 128, 128, 0.4);
    }
}

.content-outer-container {
    width: 40vw;
    margin: 6%;

    .content-inner-container {
        flex-direction: column;
        padding: 10px;
        color: #FFFFFF;

        .title-container {
            font-size: 1.5vw;
            font-weight: 350;
            letter-spacing: 0.5px;
            border-bottom: #FFFFFF solid 1px;
            width: 35%;
            padding-left: 5%;
            margin: 3%;
            margin-bottom: 1%;
        }
        .contact-form{
            display: flex;
            flex-direction: column;
            padding: 3%;
            font-size: 1vw;
            

            .contact-input-group{
                display: flex;
                flex-direction: column;
            }

            #email {
                width: 100%;
                
            }

            .contact-input-group-inline{
                display: flex;
                justify-content: flex-start;
                gap: 2rem;
                width: 100%;
                margin-bottom: 3% ;
            }

            .form-control {
                padding: 1.5%;
                width: 100%;
                margin-bottom: 3%;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5),
                0px 8px 16px rgba(0, 0, 0, 0.8);
                border: 5px solid #7D7D7D;
                background-color: #f0eded;
            }

            .submit-btn {  
                padding: 10px;
                border-radius: 8px;
                background-color: #7D7D7D;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
                width: 18%;
                letter-spacing: 2px;
                text-align: center;
                margin: 5px auto;
                transition: background-color 0.3s ease, transform 0.3s ease;
                box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
            }

            .submit-btn:hover {
                background-color: #4F4F4F;
                transform: scale(1.05);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
            }

            .submit-btn:active {
                transform: scale(0.95);
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
                background-color: #FFFFFF;
                color: #7D7D7D;
                transition: background-color 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
            }
        }
    }
}

.social-media-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: -4rem;
}
.social-media-links div {
    width: 9%;
    height: 9%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.social-media-links div:hover {
    transform: scale(1.2);
}
.social-media-links svg {
    width: 100%;
    height: 100%;
    fill: #b3b3b3;
    transition: fill 0.5s ease;
}
.social-media-links .facebook-logo:hover svg {
    fill: #4267B2;
}
.social-media-links .linkedin-logo:hover svg {
    fill: #0077B5;
}
.social-media-links .instagram-logo:hover svg {
    fill: #E1306C;
}

@media (max-width:1024px) {
    .content-outer-container{
        width: 70vw;
        height: 80vh;
        margin-top: 8rem;
        .content-inner-container{
            .title-container{
                font-size: 3vw;
            }
            .contact-form{
                font-size: 1.5vw;
            }
        }
    }
    .social-media-links{
        margin-top: -3rem;
    }
}

@media (max-width:768px) {
    .content-outer-container{
        width: 80vw;
        .content-inner-container{
            .title-container{
                font-size: 4vw;
                width: 50%;
                padding-left: 0%;
            }
            .contact-form{
                width: 80%;
                font-size: 2vw;
                input::placeholder{
                    font-size: 2vw;
                }
                textarea::placeholder{
                    font-size: 2vw;
                }
                .submit-btn{
                    width: 25%;
                }
            }
        }
    }
    .social-media-links{
        margin-top: -1rem;
    }
}

@media (max-width:425px) {
    .content-outer-container{
        margin-top: 0;
        .content-inner-container{
            .title-container{
                font-size: 6vw;
            }
            .contact-form{
                font-size: 3vw;
                input::placeholder{
                    font-size: 3vw;
                }
                textarea::placeholder{
                    font-size: 3vw;
                }
                .submit-btn{
                    width: 40%;
                }
            }
        }
    }
}