body {
    background-image: url(/assets/backgrounds/contact_background.jpg);
}

.navbar{
    .nav-link.active{
        color: #e6b20bde;
        background-color: rgba(128, 128, 128, 0.4);
    }
}

.content-outer-container {
    width: 40vw;

    .content-inner-container {
        flex-direction: column;
        padding: 10px;
        color: #FFFFFF;
        font-size: 20px;

        .title-container {
            font-size: 30px;
            font-weight: 350;
            letter-spacing: 0.5px;
            border-bottom: #FFFFFF solid 1px;
            width: 35%;
            padding-left: 5%;
            margin: 3%;
            margin-bottom: 1%;
        }
        .contact-form{
            display: flex;
            flex-direction: column;
            padding: 3%;
            font-size: 15px;
            

            .contact-input-group{
                display: flex;
                flex-direction: column;
            }

            #email {
                width: 100%;
                
            }

            .contact-input-group-inline{
                display: flex;
                justify-content: flex-start;
                gap: 2rem;
                width: 100%;
                margin-bottom: 3% ;
            }

            .form-control {
                padding: 1.5%;
                width: 100%;
                margin-bottom: 3%;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5),
                0px 8px 16px rgba(0, 0, 0, 0.8);
                border: 5px solid #7D7D7D;
                background-color: #f0eded;
            }

            .submit-btn {  
                padding: 10px;
                border-radius: 8px;
                background-color: #7D7D7D;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
                width: 18%;
                letter-spacing: 2px;
                text-align: center;
                margin: 5px auto;
            }
        }
    }
}